/* Download from https://fonts.google.com/ */
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

/* Download from https://www.dafont.com/ */
@font-face {
  font-family: Myfont;
  src: url(../../Fonts/Coffee\ Spark.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  font-family: "Urbanist", sans-serif;
}

body {
  display: grid;
  place-items: center;
  background-image: linear-gradient(100deg, #45630d, #0f3503);
}


.todo-container {
  width: 100%;
  min-height: 100vh;
  padding: 10px;
  margin: auto;
  border: 2px solid rgb(8, 144, 8);
  /* background-image: linear-gradient(100deg, #45630d, #0f3503); */
}

header {
  color: rgb(243, 244, 241);
  text-align: center;
  margin: 2rem 0 1rem;
}


header h1 {
  font-family: "Myfont", sans-serif;
  font-size: 48px;
  font-weight: 900;
  font-style: normal;

  text-decoration-line: none;
  text-decoration-color: #7aed08;
  text-decoration-thickness: 5px;
  text-decoration-style: solid;

  text-shadow: -3px -3px 8px rgb(157, 197, 13);
}

header h2 {
  font-size: 20px;
  font-weight: 500;
  margin-top: 1rem;
}

form {
  font-size: 17px;
  color: rgb(243, 244, 241);
  text-align: center;
  margin: 2rem 0 1rem;

  display: flex;
  justify-content: center;
}


form input {
  height: 2.5rem;
  min-width: 12rem;
  border: none;
  outline: none;
  border-radius: 17px 0 0 17px;
  transition: background-color 200ms ease-in-out;
  background-color: #f2f3f4;
  color: #1c2833;
  font-weight: 600;
  padding: 0.5rem 1rem;
}

form input:hover {
  /* cursor: pointer; */
  background-color: #c6e1b5;
}


form button {
  height: 2.5rem;
  min-width: 7rem;
  border: none;
  border-radius: 0 17px 17px 0;
  background-color: #5dade2;
  color: var(--secondary-color);
}

form button:hover {
  cursor: pointer;
  background-color: #f1c40f;
}

.myUnOrdList {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
}

li span {
  max-width: 20rem;
  color: #1c2833;
}

.todo-list {
  list-style:none;
}

.todo-item { 
  height: 2.5rem;
  min-width: 20rem;
  border: none;
  border-radius: 17px;

  padding: 0.5rem 1rem;
  margin: 15px;

  transition: background-color 200ms ease-in-out;
  background-color: #f2f3f4;
  color: #1c2833;

  font-weight: 600;
}


.check-btn,
.delete-btn {
  float: right;
  cursor: pointer;
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%; 
  margin: -6px 3px;  
}

.check-btn {
  color: #fff;
  background-color: #2ecc71;
}

.delete-btn {
  color: #fff;
  background-color: #e74c3c;
}

.checkList {
  text-decoration: line-through;
}

.notCheckList {
  text-decoration: none;
}


.clearList{
  padding: .5rem 1rem;
  margin: 0.5rem;
}

.clear-btn {
  background-color: #e74c3c;
  font-size: 1rem;
  padding: .5rem 1rem;
  margin: 0.5rem;
  border-radius: 17px;
  
  cursor: pointer;
}

.clear-btn:hover {
  background-color: #8d1407;
}
